.FeedDarkMode {
  height: 30em;
  overflow: auto;
  scroll-behavior: smooth;
	background: #292929;
}

.MessageDarkMode {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

@media screen and (max-width: 320px) {
  .FeedDarkMode {
    height: 24em;
  }
}