.Feed {
  height: 30em;
  overflow: auto;
  scroll-behavior: smooth;
}

.Message {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

@media screen and (max-width: 320px) {
  .Feed {
    height: 24em;
  }
}