.Input {
  display: flex;
  padding-top: 0.6rem;
  background: #fafafa;
	border-top: 2px solid gainsboro;
}

.Input form {
  align-self: center;
  margin: 0 auto;
}

.Input input[type='text'] {
  width: 20rem;
	padding: 0.7rem;
  font-size: 1.4rem;
  outline: none;
  background: #fafafa;
  border: 3px solid gainsboro;
  border-radius: 1em;
  text-align: center
}