.Input {
  display: flex;
  padding-top: 0.6rem;
	border-top: 2px solid gainsboro;
	color: white;
}

.Input textarea {
  align-self: center;
  width: 80vw;
  margin: 0 auto;
	padding: 0.8rem;
  font-size: 1.2rem;
  resize: none;
  border: none;
  outline: none;
  border: 3px solid gainsboro;
}