.Input {
  display: flex;
  padding-top: 0.6rem;
  background: #fafafa;
	border-top: 2px solid gainsboro;
}

.Input textarea {
  align-self: center;
  width: 18rem;
  margin: 0 auto;
	padding: 0.7rem;
  font-size: 1.4rem;
  resize: none;
  border: none;
  outline: none;
  background: #fafafa;
  border: 3px solid gainsboro;
}