.HeaderDarkMode {
	display: flex;
	background: rgb(28, 29, 32);
	color: rgba(255,255,255,0.7);
}

.HeaderDarkMode h2 {
	align-self: center;
	width: 30%;
	margin: 0 auto;
}

.HeaderDarkMode a img {
	margin: 0.5em;
	width: 2.5rem;
	background: rgba(255,255,255,0.8);
	border-radius: 100%;
	object-fit: cover;
}

