.Header {
	display: flex;
  background: linear-gradient(
		94deg,
		rgb(97, 85, 153) 100%,
		rgb(117, 101, 185) 100%
	);
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.Header h2 {
	align-self: center;
	width: 50%;
	margin: 0 auto;
}

.Header a img {
	margin: 0.5em;
	width: 3rem;
}
