.Header {
  display: flex;
  padding-bottom: 0.5rem;
	background: linear-gradient(
		94deg,
		rgb(93, 83, 134) 100%,
		rgb(113, 101, 167) 100%
	);
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.Header h2 {
	align-self: center;
	margin: 0 auto;
}

.Header a img {
  align-self: center;
	margin: 0.5em;
	width: 2.2rem;
	object-fit: cover;
}


.switch {
	align-self: center;
  position: relative;
	margin: 0.5em;
	width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(63, 66, 77);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(63, 66, 77);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
