.Header {
  display: flex;
	background: linear-gradient(90deg, #364d7a 0%, #3a548f 100%);
  color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

.Header h2 {
  align-self: center;
  width: 50%;
  margin: 0 auto;
}

.Header a img {
  margin: 0.5em;
  width: 3rem;
}