@media screen and (min-width: 500px) {
	.ChatRoom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		background: #5c5772;
		margin: 0 auto;
	}

	.Header {
		align-self: center;
		margin: 0 auto;
		width: 450px;
		box-shadow: 4px 6px 12px -2px #333044;
	}
	.Header a img {
		width: 4rem;
	}

	.Feed {
		align-self: center;
		width: 450px;
		background: #ffffff;
		box-shadow: 12px 0 12px -8px #333044;
	}

	.Input {
		align-self: center;
		width: 450px;
		box-shadow: 5px 6px 12px -1px #333044;
	}

	.user-left {
		font-size: 0.8rem;
	}
	.user-right {
		font-size: 0.8rem;
	}
	.user-admin {
		font-size: 0.8rem;
	}
}
