@media screen and (min-width: 500px) {
	.ChatRoom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
		margin: 0 auto;
	}

	.Header {
		align-self: center;
		margin: 0 auto;
		width: 450px;
		box-shadow: 4px 6px 7px -3px #182848;
	}
	.Header a img {
		width: 4rem;
	}
	
	.Feed {
		align-self: center;
		width: 450px;
		background: #ffffff;
		box-shadow: 3px 5px 7px -13px #182848;
	}
	
	.Input {
		align-self: center;
		width: 450px;
		height: 110px;
		box-shadow: 3px 5px 7px -7px #182848;
	}

	.user-left {
		font-size: 0.8rem;
	}
	.user-right {
		font-size: 0.8rem;
	}
	.user-admin {
		font-size: 0.8rem;
	}
}
