.Login {
	background: linear-gradient(
		94deg,
		rgb(97, 85, 153) 100%,
		rgb(117, 101, 185) 100%
	);
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	color: #ffffff;
	font-size: calc(10px + 2vmin);
	text-align: center;
}

.Login p {
	margin-bottom: 5rem;
	font-size: 1.3rem;
}

.login-form input,
button {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 80vw;
	font-size: 1.6rem;
}

.login-form input[type='text'] {
	padding: 0.2rem 0;
	margin-bottom: 0.3rem;
	text-align: center;
	outline: none;
}
.login-form button[type='submit'] {
	background: linear-gradient(
		94deg,
		rgb(97, 85, 153) 100%,
		rgb(117, 101, 185) 100%
	);
	color: #ffffff;
	margin-top: 0.3rem;
	margin-bottom: 5rem;
}
.login-form button[type='submit']:hover {
	color: rgba(255,255,255,0.5);
}

.error-msg {
	display: inline-block;
	width: 80vw;
	padding: 0.5rem;
	font-size: 1.5rem;
}

@media screen and (min-width: 500px) {
	.login-form input,
	button {
		width: 50vw;
		font-size: 1.2rem;
	}
}
